html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  html,
  body,
  #root {
    height: 100%;
    background-color: #f7fafc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .warning {
    color: blue;
  }
  
  .full-line-height {
    line-height: 100%;
  }
  
  @tailwind base;
  
  @tailwind components;
  
  @tailwind utilities;
  
  /**
  * Tailwind component classes
  *
  */
  .flex-center-content {
    @apply justify-center items-center;
  }
  
  .site-risk-row-cell-content {
    @apply flex p-2 border-r border-b justify-center;
  }
  
  /**
  * End Tailwind component classes
  *
  */
  
  /* Scrollbar styling in webkit */
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #cbd5e0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6e6e6e;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }